@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,400;1,700&family=Playfair+Display:ital@1&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

html, body {
    overflow-x: hidden;  
}

/* Main part */

.main__gallery {
    display: grid;
    min-height: 140vh;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 4% 60% 10%;
    grid-template-areas: "header_gallery"
                         "header_gallery_hr"
                         "main_gallery"
                         "footer_gallery"
}

.all-pages__title {
    display: grid;
    grid-area: header_gallery;
    margin-left: 20vh;
}

.main__hr__link {
    display: grid;
    grid-area: header_gallery_hr;
    width: 76%;
    margin-left: 20vh;
    margin-top: 2vh;
    border: solid 1px #f4f1f1;
}

.main__gallery__card {
    display: grid;
    grid-area: main_gallery;
    margin-left: 20vh;
    margin-right: 30vh;
    margin-bottom: 7vh;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 10px;
}

.main__card__item {
    width: 210px;
    height: 260px;
    cursor: pointer;
}

.slider {
    grid-area: footer_gallery;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 100%;
}

.slider__text-part {
    grid-column: 3/4;
    margin-top: -6vh;
}

.slider__button-part {
    grid-column: 4/6;
    margin-top: -10vh;
}

/* Change main screen # 1 */

@media screen and (min-width:249px) and (max-width:853px) {
    .main__gallery {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 7vh auto 20vh;
        margin: 0;
        justify-content: center;
    }

    .all-pages__title {
        display: flex;
        justify-self: center;
        margin-left: 0;
    }

    .main__hr__link {
        display: flex;
        justify-self: center;
        margin-left: 0;
        width: 40%;
    }

    .main__gallery__item {
        margin: 0;
        justify-items: center;
    }

    .slider__page-number, .slider__all-pages-number, .slider__divide  {
        display: none;        
        }

    .slider {
        display: flex;
        justify-self: center;
        margin-left: 0;    
        }

}

/* Change main screen # 2 */


@media screen and (min-width:853px) and (max-width:1023px) {
   
    .main__gallery {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 8vh auto 25vh;
        
    }

    .slider__page-number, .slider__all-pages-number, .slider__divide  {
        display: none;        
        }

    .slider {
       display: flex;  
       justify-self: center;
       margin-left: 0;    
       }
       
    }

    /* Change main screen # 3 */


@media screen and (min-width:1023px) and (max-width:5000px) {
   
    .main__gallery {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 8vh auto 20vh;
    }

    .slider__text-part {
        grid-column: 5/6;
       
    }
    
    .slider__button-part {
        grid-column: 6/9;
    }
    }

