* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

html, body {
    overflow-x: hidden;  
}

.projects {
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 2% auto 10%;
    grid-template-areas:
    "general__title"
    "projects__line"
    "projects__samples"
    "slider";

    justify-self: center;
    /*justify-content: center;*/
    /*justify-content: start; поведение объекта в ячейке - у меня не видно изменений, удалить?*/
    /*justify-self: center; выравнивание по центру вертикальной оси в ячейке - выравнивает весь блок по центру страницы*/
    /*background-color: blueviolet;*/
    /*grid-area: main;*/
}    

.general_title {
    grid-area: general_title;
}

.projects__line {
    grid-area: projects__line;
    display: grid;
    width: 80vw;
    height: 1px;
    justify-self: stretch; 
    background-color:rgb(242, 242, 242);
}

.projects__samples {
    width: 80vw;
    justify-content: center;
    grid-area: projects__samples;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "projects__sample1"
    "projects__sample2"
    "projects__sample3";
}

.slider {
    grid-area: slider;
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: flex-end;
    /*justify-self: flex-start;
    justify-content: flex-start; - не работает*/
    flex-direction: row;
    background-color: aquamarine;
    margin-bottom: 7em;
}

.projects__sample1 {
    grid-area: projects__sample1;
    margin-bottom: 3em;
}

.projects__sample2 {
    grid-area: projects__sample2;
    margin-bottom: 3em;
}

.projects__sample3 {
    grid-area: projects__sample3;
    margin-bottom: 3em;
}

.projects__sample1,
.projects__sample2,
.projects__sample3 {
    display: flex;
    flex-direction: row;
}

.projects__img-part {
    width: 57%;
    background-color: rgb(0, 138, 129); /*rgb(251, 251, 251); - светло-серый*/
    /*grid-row-gap: 2em; - не работает, в sample1,2,3 тоже*/
}

.projects__img {
overflow: hidden;
width: 100%;
height: 100%;
}

.projects__text-part {
    display: flex;
    flex-direction: column;
    width: 43%;
    background-color: rgb(0, 90, 143);   /*rgb(251, 251, 251); - светло-серый*/
    justify-content: center;
    row-gap: 1.5em;
    padding-left: 2em;
    /*в div h и p на странице оборачивала*/
    /*Вариант дает сужение серого поля за текстом сверху и снизу:
    align-self: flex-start;
    align-items: center;*/
    /*justify-self: start;    align-items: start; - не бывает left*/
    /*align-content: space-around; - нет ответа*/
    /*align-items: center;    align-items: stretch; align-items: baseline; не получилось*/
    /*grid-row-gap: 2em; - не работает*/
}

.projects__h2-title {
    padding-top: 0.5em;
}

.img {
    width: 100%;
    height: auto;
}

.projects-overview__button-wrapper {
    justify-content: flex-start;
}